<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid justify-content-center">
                        
                        <ul class="nav navbar-nav">
                                <li><a href="/" class="nav-link">Home</a></li>
                                <li><a href="/mercury" class="nav-link">Mercury</a></li>
                                <li><a href="/venus" class="nav-link">Venus</a></li>
                                <li><a href="/earth" class="nav-link">Earth</a></li>
                                <li><a href="/mars" class="nav-link">Mars</a></li>
                                <li><a href="/jupiter" class="nav-link">Jupiter</a></li>
                                <li><a href="/saturn" class="nav-link">Saturn</a></li>
                                <li><a href="/uranus" class="nav-link">Uranus</a></li>
                                <li><a href="/neptune" class="nav-link">Neptune</a></li>
                        </ul>
                </div>
        </nav>