<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Earth</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/earth.jpg" alt="Earth" />
                        </div>
                        <div class="col-sm-6">
                                <p>Earth is our planet, the third from the sun. It is the only planet that currently supports life. About two thirds of the planet is covered in water, and Earth is the only planet that has this trait (although Mars may have in the far distant past). Earth has an atmosphere that both supports life but is also dense enough to protect the planet from various cosmological effects and meteors.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>