<% include partials/header.ejs %>

<% include partials/nav.ejs %>        
        
        <h1 class="jumbotron">Welcome to the Solar System!</h1>
        
        
        <img src="/img/solar_system.jpg" alt="The Solar System" width="800px"/>
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 mt-4">
                                <p>The solar system is the local cluster of planets surrounding our sun. Currently, there are 8 known planets, and a 9th that scientists believe may exist. The first 4 planets orbit the sun within close proximity of each other, and are all terrestrial (i.e. made of solid materials) planets. These 4 are Mercury, Venus, Earth, and Mars. Between Mars and the outer plaents lies an asteroid belt. The outer planets consist of Jupiter, Saturn, Uranus, and Neptune. These planets are called the gas giants, as they are all predominantly made of gas and are all much larger than the 4 terestrial planets.</p>
                        </div>
                </div>
        </div>

<% include partials/footer %>