<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Jupiter</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/jupiter.jpg" alt="Jupiter" />
                        </div>
                        <div class="col-sm-6">
                                <p>Jupiter is the 5th planet from the sun, and the first of the gas giants. Jupiter is also the largest planet in the solar system. It is so large, it is more than twice the mass of all the other planets combined. Jupiter has a brownish orange appearance due to the clouds the swirl the planet. Jupiter also has a "Great Red Spot", a giant storm of clouds more than 10,000 miles wide. The storm slowly works its way accross the planet. Jupiter has 75 moons due to its strong gravitational pull. One year on Jupiter is equivalent to 11.9 years on Earth.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>