<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Mars</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/mars.jpg" alt="Mars" />
                        </div>
                        <div class="col-sm-6">
                                <p>Mars is the fourth and final terrestrial planet from the sun. Mars is cold, and has a dusty desert like landscape. It's red color comes from iron oxides (rust essentially) in the dust that covers the planet. Mars is unique in that it is the only other planet besides earth know to have had water. There are sheets of ice on the polar caps as well as under the surface. Scientiest believe that in the distant past Mars may have been an ocean planet more similar to Earth. However, Mars' lack of a strong atmosphere didn't allow the planet to stay warm enough to ultimately keep the water liquid (and potentially support life). Mars has the longest orbit of the terrestrial planets at about 687 Earth days.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>