<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Mercury</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/mercury.jpg" alt="Mars" />
                        </div>
                        <div class="col-sm-6">
                                <p>Mercury is the first planet in the solar system. It is the smallest planet, slightly larger than Earth's moon. It's proximity to the sun means it sees extreme temperatures: upwards of 800F during the day, and -180F at night. Mercury has an orbit of about 88 Earth days. Mercury has very little atmosphere, so as a result meteors are not broken up upon entering its atmosphere leading to a crater covered surface.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>