<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Neptune</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/neptune.jpg" alt="Neptune" />
                        </div>
                        <div class="col-sm-6">
                                <p>Neptune is the 8th and final known planet from the sun. Neptune is similar in size to Uranus. Neptune has a blue color, and the fastest most violent atmosphere in the solar system. The winds on the planet travel upwards of 1,500 mph. Like Jupiter, Neptune has its own "Dark Spot" strom that traverses across the planet. Neptune has 14 moons. Due to its tremendous distance from the sun, Neptune has a very long orbit, with 1 year being equivalent to 165 Earth years.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>