<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Uranus</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/uranus.jpg" alt="Uranus" />
                        </div>
                        <div class="col-sm-6">
                                <p>Uranus is the seventh planet from the sun. Uranus has clouds made of hydrogen sulfide, as well as methane which give it a greenish blue appearance. Uranus is unique in that it rotates on its side. The planet's equator runs vertically, whereas every other planet in the solar system is roughly horizontal. Scientist believe that at some point in its history a large object collided with Uranus which tilted its rotation. Uranus has 27 moons, as well as a set of faint rings. One year on Uranus is equivalent to 84 Earth years.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>