<% include partials/header.ejs %>

<% include partials/nav.ejs %>

        <h1 class="jumbotron">Venus</h1>
        
        <div class="container">
                <div class="row">
                        <div class="col-sm-6">
                                <img src="/img/venus.png" alt="Venus" />
                        </div>
                        <div class="col-sm-6">
                                <p>Venus is the second plaent from the sun. It is very similar in size and distance from the sun as Earth. Venus is a mountainous planet that shows signs of volcanic activity. However, it is covered in a very thick atmosphere of toxic sulfuric acid clouds. As a result, these clouds form a very strong greenhouse gas effect, creating immense heat and pressure on the planets surface - so much so that its average temperature exceeds that of Mercury, reaching up to 900F. Venus has an orbit of about 255 Earth days, but rotates very slowly, with 1 venus day equal to 241 Earth days.</p>
                        </div>
                </div>
        </div>
        

<% include partials/footer %>